@media (min-width: 0px)
{
    h4
    {
        font-size: 1.5rem;
    }
}

@media (min-width: 576px)
{
    h4
    {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px)
{
    h4
    {
        font-size: 1.3rem;
    }
}

@media (min-width: 992px)
{
    h4
    {
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px)
{
    h4
    {
        font-size: 1.3rem;
    }
}

@media (min-width: 1400px)
{
    h4
    {
        font-size: 2rem;
    }
}